/*slider*/
#content{background-color: rgb(248,248,248)}
.app-sidebar{background-color: #fff}
#app .tabs > .card-header{background-color: rgba(0,0,0,.03)!important;}
#app .tab-content .card-header{background-color: #f8f8f8!important;}
#app .tab-content .card-header .nav-tabs .nav-link{border-radius: 0;border-bottom: 0}
.card-header:first-child {border-radius: 0!important;}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {color: #4d6593;background-color: #f8f8f8!important;border-color: #c9d2e3 #c9d2e3 transparent!important;}
.bg-f8{background-color: #f8f8f8}
.ag-theme-alpine .ag-root-wrapper {border: 0;border-radius: 0;}
.nav-tabs .nav-link{padding: 0.3rem 0.8rem}
.nav-tabs .nav-link a:hover{color:#000}
.multiselect__tags {border: 1px solid #c9d2e3;border-radius: 6px;}
.radio-label-sty{padding-left: 3px;margin-right: 10px;top: -1px;position: relative;margin-bottom: 0}
.bv-no-focus-ring{margin: auto}
.drown-page-size .dropdown-menu{min-width: 5rem;top:-12px}
.drown-page-size .dropdown-menu:after{content: '';position: absolute;width: 10px;height: 10px;display: block;background: #fff;border-top: 1px solid rgba(0,0,0,.1);border-left: 1px solid rgba(0,0,0,.1);z-index: 10;-webkit-box-sizing: border-box;box-sizing: border-box;bottom: -5px;left: 12px;transform: rotate(225deg);}
#content{background-color: #f8f8f8;padding:0 15px}
.box{margin-top: 1.2rem}
.box .card {margin-bottom: 1.2rem;border: 0;background: #fff;border-radius: .5rem;box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);-webkit-transition: all .3s ease-in-out;padding: 15px;}
.box .card:focus,.card:focus,:focus{outline: none!important;}
.keywordSearch{float: right}
.setPagSize{border-radius:3px;border: 1px solid #c9d2e3;position: absolute}


@media screen and (max-width: 767px) {
    .keywordSearch{float: none;}
    .keywordSearch form{width: 100%}
    .setPagSize{bottom: 10px;position: relative;display: inline-block}
}
